# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [387]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [388]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep="\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Name of the max valued product

In [389]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [390]:
chipo.describe(include = 'all')

           order_id     quantity     item_name choice_description item_price
count   4622.000000  4622.000000          4622               3376       4622
unique          NaN          NaN            50               1043         78
top             NaN          NaN  Chicken Bowl        [Diet Coke]     $8.75
freq            NaN          NaN           726                134        730
mean     927.254868     1.075725           NaN                NaN        NaN
std      528.890796     0.410186           NaN                NaN        NaN
min        1.000000     1.000000           NaN                NaN        NaN
25%      477.250000     1.000000           NaN                NaN        NaN
50%      926.000000     1.000000           NaN                NaN        NaN
75%     1393.000000     1.000000           NaN                NaN        NaN
max     1834.000000    15.000000           NaN                NaN        NaN

In [391]:
# Dejar la columna item_price a int.
# Reemplazar $ por nada

chipo['item_price'] = chipo['item_price'].str.replace('$', '', regex=False).astype(float)
print(chipo['item_price'])

# calcular el precio unitario
precio_unitario = chipo['precio_unitario'] = chipo['item_price'] / chipo['quantity']

# Mostrar el valor maximo
chipo.groupby('item_name')['precio_unitario'].min().idxmax()


# Mostrar el producto que tiene el valor más alto

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

'Barbacoa Salad Bowl'

### Step 4. How many products cost more than $10.00?

In [392]:
# Primero calculo el precio unitario y lo añado a la columna
print(chipo[['item_name', 'quantity', 'item_price', 'precio_unitario']])

                                  item_name  quantity  item_price  \
0              Chips and Fresh Tomato Salsa         1        2.39
1                                      Izze         1        3.39
2                          Nantucket Nectar         1        3.39
3     Chips and Tomatillo-Green Chili Salsa         1        2.39
4                              Chicken Bowl         2       16.98
...                                     ...       ...         ...
4617                          Steak Burrito         1       11.75
4618                          Steak Burrito         1       11.75
4619                     Chicken Salad Bowl         1       11.25
4620                     Chicken Salad Bowl         1        8.75
4621                     Chicken Salad Bowl         1        8.75

      precio_unitario
0                2.39
1                3.39
2                3.39
3                2.39
4                8.49
...               ...
4617            11.75
4618            11.75
4619            11.25
4620             8.75
4621             8.75

[4622 rows x 4 columns]

In [393]:
# ahora busco el precio minimo unitario de cada producto, entenderé que es la base
# reset_index() que guarda item_name como una columna normal 
precio_minimo = chipo.groupby('item_name')['precio_unitario'].min().reset_index() 
print(precio_minimo)

                                item_name  precio_unitario
0                       6 Pack Soft Drink             6.49
1                           Barbacoa Bowl             8.69
2                        Barbacoa Burrito             8.69
3                   Barbacoa Crispy Tacos             8.99
4                     Barbacoa Salad Bowl             9.39
5                     Barbacoa Soft Tacos             8.99
6                           Bottled Water             1.09
7                                    Bowl             7.40
8                                 Burrito             7.40
9                             Canned Soda             1.09
10                      Canned Soft Drink             1.25
11                          Carnitas Bowl             8.99
12                       Carnitas Burrito             8.69
13                  Carnitas Crispy Tacos             8.99
14                         Carnitas Salad             8.99
15                    Carnitas Salad Bowl             9.39
16                    Carnitas Soft Tacos             8.99
17                           Chicken Bowl             8.19
18                        Chicken Burrito             8.19
19                   Chicken Crispy Tacos             8.49
20                          Chicken Salad             8.19
21                     Chicken Salad Bowl             8.75
22                     Chicken Soft Tacos             8.49
23                                  Chips             1.99
24           Chips and Fresh Tomato Salsa             2.29
25                    Chips and Guacamole             3.89
26      Chips and Mild Fresh Tomato Salsa             3.00
27     Chips and Roasted Chili Corn Salsa             2.95
28     Chips and Roasted Chili-Corn Salsa             2.39
29  Chips and Tomatillo Green Chili Salsa             2.95
30    Chips and Tomatillo Red Chili Salsa             2.95
31  Chips and Tomatillo-Green Chili Salsa             2.39
32    Chips and Tomatillo-Red Chili Salsa             2.39
33                           Crispy Tacos             7.40
34                                   Izze             3.39
35                       Nantucket Nectar             3.39
36                                  Salad             7.40
37                          Side of Chips             1.69
38                             Steak Bowl             8.69
39                          Steak Burrito             8.69
40                     Steak Crispy Tacos             8.69
41                            Steak Salad             8.69
42                       Steak Salad Bowl             9.39
43                       Steak Soft Tacos             8.99
44                            Veggie Bowl             8.49
45                         Veggie Burrito             8.49
46                    Veggie Crispy Tacos             8.49
47                           Veggie Salad             8.49
48                      Veggie Salad Bowl             8.75
49                      Veggie Soft Tacos             8.49

In [394]:
# Los productos que cuestan mas de $10.00
productos_mas_10 = chipo[chipo["precio_unitario"] >= 10.00]
print(productos_mas_10)

      order_id  quantity           item_name  \
5            3         1        Chicken Bowl
7            4         1       Steak Burrito
13           7         1        Chicken Bowl
23          12         1     Chicken Burrito
39          19         1       Barbacoa Bowl
...        ...       ...                 ...
4610      1830         1       Steak Burrito
4611      1830         1      Veggie Burrito
4617      1833         1       Steak Burrito
4618      1833         1       Steak Burrito
4619      1834         1  Chicken Salad Bowl

                                     choice_description  item_price  \
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...       10.98
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.75
13    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
23    [[Tomatillo-Green Chili Salsa (Medium), Tomati...       10.98
39    [Roasted Chili Corn Salsa, [Fajita Vegetables,...       11.75
...                                                 ...         ...
4610  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...       11.25
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...       11.25

      precio_unitario
5               10.98
7               11.75
13              11.25
23              10.98
39              11.75
...               ...
4610            11.75
4611            11.25
4617            11.75
4618            11.75
4619            11.25

[1034 rows x 6 columns]

### Step 4.1: Y cuántos pedidos se han hecho con un producto de más de 10$? Es lo mismo?

In [395]:
# Para calcularlo tomo en cuenta la variable precio_minimo
numero_pedidos = productos_mas_10.groupby('item_name').size().reset_index(name='precio_unitario')
print(numero_pedidos)

# NO ES LO MISMO:
    # Productos cuyo coste es superior a $10 -> hablamos de PRODUCTOS y calculamos sobre el producto MINIMO. Da como resultado PRODUCTOS
    # Pedidos realizados con producto de coste superior a $10 -> hablamos de NUMERO DE PEDIDOS y calculamos pedidos de productos de mas de %10. Da como resultado PEDIDOS.

                item_name  precio_unitario
0           Barbacoa Bowl               27
1        Barbacoa Burrito               24
2   Barbacoa Crispy Tacos                4
3     Barbacoa Salad Bowl                5
4     Barbacoa Soft Tacos                8
5           Carnitas Bowl               32
6        Carnitas Burrito               19
7   Carnitas Crispy Tacos                2
8     Carnitas Salad Bowl                4
9     Carnitas Soft Tacos                3
10           Chicken Bowl              282
11        Chicken Burrito              180
12   Chicken Crispy Tacos               15
13          Chicken Salad                2
14     Chicken Salad Bowl               51
15     Chicken Soft Tacos               26
16             Steak Bowl               90
17          Steak Burrito              127
18     Steak Crispy Tacos               11
19       Steak Salad Bowl               19
20       Steak Soft Tacos                9
21            Veggie Bowl               45
22         Veggie Burrito               37
23      Veggie Salad Bowl               10
24      Veggie Soft Tacos                2

### Step 4.2: Y cuántos pedidos se han hecho de más de 10$? Es lo mismo?

In [396]:
# Calculamos los PEDIDOS que tienen precio unitario > 10
# NO ES LO MISMO:
    # Aquí hablamos de los PEDIDOS el precio de producto (item_price), no el precio unitario. Entiendo que una fila es 1 pedido.
pedidos_mas_10 = chipo[chipo['item_price'] > 10.0]
print(pedidos_mas_10)

      order_id  quantity           item_name  \
4            2         2        Chicken Bowl
5            3         1        Chicken Bowl
7            4         1       Steak Burrito
13           7         1        Chicken Bowl
23          12         1     Chicken Burrito
...        ...       ...                 ...
4610      1830         1       Steak Burrito
4611      1830         1      Veggie Burrito
4617      1833         1       Steak Burrito
4618      1833         1       Steak Burrito
4619      1834         1  Chicken Salad Bowl

                                     choice_description  item_price  \
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...       10.98
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.75
13    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
23    [[Tomatillo-Green Chili Salsa (Medium), Tomati...       10.98
...                                                 ...         ...
4610  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...       11.25
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...       11.25

      precio_unitario
4                8.49
5               10.98
7               11.75
13              11.25
23              10.98
...               ...
4610            11.75
4611            11.25
4617            11.75
4618            11.75
4619            11.25

[1130 rows x 6 columns]

### Step 4.3: Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto? Es lo mismo?

In [397]:
chipo.describe(include = 'all')

,order_id,quantity,item_name,choice_description,item_price,precio_unitario
count,4622.000000,4622.000000,4622,3376,4622.000000,4622.000000
unique,NaN,NaN,50,1043,NaN,NaN
top,NaN,NaN,Chicken Bowl,[Diet Coke],NaN,NaN
freq,NaN,NaN,726,134,NaN,NaN
mean,927.254868,1.075725,NaN,NaN,7.464336,7.084424
std,528.890796,0.410186,NaN,NaN,4.245557,3.665487
min,1.000000,1.000000,NaN,NaN,1.090000,1.090000
25%,477.250000,1.000000,NaN,NaN,3.390000,2.950000
50%,926.000000,1.000000,NaN,NaN,8.750000,8.750000
75%,1393.000000,1.000000,NaN,NaN,9.250000,9.250000
max,1834.000000,15.000000,NaN,NaN,44.250000,11.890000

In [398]:
# Calculamos el número de PEDIDOS en los que se ha pagado mas de $10 por un mismo producto
chipo['order_id'][chipo['item_price'] > 10].nunique()

863

### Step 5. What is the price of each item and name it unit_price. Get only item_name and unit_price

In [399]:
# Ya tenía el precio unitario calculado más arriba, por lo que reemplazo uno por otro
chipo.rename(columns={'precio_unitario': 'unit_price'}, inplace=True)

chipo[['item_name', 'unit_price']]

                                  item_name  unit_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl        8.49
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [400]:
chipo.sort_values('item_name')

,order_id,quantity,item_name,choice_description,item_price,unit_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [401]:
# Calculamos la cantidad con max() que nos devuelve la cantidad mas alta

print(chipo['quantity'].max())

15

In [402]:
# Con nlargest saco la fila que tiene mayor cantidad. Devuelve la fila completa.
chipo.nlargest(1, 'quantity')

,order_id,quantity,item_name,choice_description,item_price,unit_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,2.95

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [403]:
# Busco el item que sea == Veggie Salad Bowl y le digo que cuent los pedido (order_id)
veggie_salad = chipo[chipo['item_name'] == 'Veggie Salad Bowl']['order_id'].count()
print(veggie_salad)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [405]:
# Primero confirmo que Canned Soda existe en la DataFrame
existe = ('Canned Soda' in chipo['item_name'].values)
print(existe)

# Luego busco las filas donde aparece Canned Soda y la cantidad pedida sea > 1, y cuento los pedidos.

canned_soda = chipo['order_id'][chipo['item_name'] == 'Canned Soda'][chipo['quantity'] > 1].nunique()
print(canned_soda)

True
18