# Obtén y conoce tus datos



### 1. Importa las librerías necesarias

In [2]:
import numpy as np
import pandas as pd

### 2. Importa el dataset de este [enlace](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user) y guárdalo en una variable llamada users. Usa pd.read_csv()

In [3]:
users = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user", sep="|")
users

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

### 3. Muestra las 25 primeros registros

### 4. Muestra las 25 primeros registros de otra forma

### 5. Muestra los últimos 25 registros

### 6. Cuántos registros hay en total en este dataset?
Resuélvelo de al menos dos formas diferentes

### 7. Cuántas columnas hay en total en este dataset?
Resuélvelo de al menos dos formas diferentes

### 8. Haz un print de cada uno de los nombres de las columnas

### 9. Accede al índice, a los nombres de las columnas y a los valores por separado

### 10. Cuál es el tipo de cada columna del dataset?
Hazlo de dos formas diferentes

### 11. Haz un print solo de la columna de occupation
Hazlo de dos formas diferentes

### 12. ¿Cuántas profesiones diferentes hay? ¿Y personas por profesión?

### 13. ¿Cuál es la profesión más común?

### 14. Obtén un resumen de las principales medidas estadísticas de las variables numéricas.  Usa describe()

### 15. Obtén un resumen de las principales medidas estadísticas de todas las variables.  Usa describe()

### 16. Obtén un resumen de las principales medidas estadísticas de solo la columna occupation.  Usa describe()

### 17. ¿Cuál es la edad media?

### 18. ¿Cuál es la edad menos frecuente?