![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

In [ ]:
#Escribe el título del proyecto en Markdown
titulo = 
'''
Optimización de la experiencia de las personas en la organización: 
Análisis de Satisfacción, Burnout y Retención.
'''

### TEMA

In [ ]:
# Describe brevemente el tema del proyecto en Markdown
tema =
'''
Exploración de cómo la satisfacción del personal influye directamente en el riesgo de burnout 
y la retención de talento, y cómo las acciones de engagement y bienestar impactan positivamente 
en estas métricas. 
Se utilizan Python y Tableau para analizar patrones y generar dashboards estratégicos que apoyan 
la toma de decisiones orientada a mejorar la experiencia de la persona.
'''

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

In [ ]:
# Escribe tu hipótesis principal en Markdown
hipotesis_1 = 
'''
La satisfacción del personal influye directamente en el riesgo de burnout y en la retención 
de talento. Una experiencia positiva fortalece la cultura organizacional y contribuye 
a entornos más saludables y sostenibles. Además, las acciones de engagement y bienestar incrementan 
la satisfacción y, a través de ella, reducen el burnout y mejoran la permanencia en la organización. 
Este análisis conecta métricas de experiencia, bienestar y cultura con decisiones estratégicas basadas 
en datos dentro de People Analytics.
'''

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [ ]:
import pandas as pd
# Parto de una unica dataset que contiene la información que necesito
df = pd.DataFrame()
df = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")
fuente = "IBM HR Analytics Employee Attrition & Performance Dataset - Kaggle"

print("Fuente ->", fuente)

Fuente -> IBM HR Analytics Employee Attrition & Performance Dataset - Kaggle

In [ ]:
'''
Este dataset no contiene directamente todas las variables que quiero analizar, 
y busco medir conceptos estratégicos que no siempre se registran explícitamente. 
En mi hipótesis analizaré: 
    -> La satisfacción de la persona 
    -> El riesgo de burnout 
    -> La retención de talento 
    -> La cultura organizacional 
Si no genero esas variables, no voy a poder mostrar como la satisfacción influye en el burnout 
y la retención, ni cómo la experiencia y cultura impactan decisiones estratégicas. 
Puedo crear indicadores derivados (proxies) que representen esos conceptos de manera cuantificable. 
Proxy = variable que aproxima un concepto que no se mide directamente.
'''

'\nEste dataset no contiene directamente todas las variables que quiero analizar, \ny busco medir conceptos estratégicos que no siempre se registran explícitamente. \nEn mi hipótesis analizaré: \n    -> La satisfacción del empleado \n    -> El riesgo de burnout \n    -> La retención de talento \n    -> La cultura organizacional \nSi no genero esas variables, no voy a poder mostrar como la satisfacción influye en el burnout \ny la retención, ni cómo la experiencia y cultura impactan decisiones estratégicas. \nPuedo crear indicadores derivados (proxies) que representen esos conceptos de manera cuantificable. \nProxy = variable que aproxima un concepto que no se mide directamente.\n'

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [4]:
# Primer dataset
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [5]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB